<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340075955663-n6odi075851fcugfm2tibu7blf0n7s05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340075955663-n6odi075851fcugfm2tibu7blf0n7s05</string>
	<key>API_KEY</key>
	<string>AIzaSyC379rLqI9mVmYZoBHMILFtZXf9S2-JfaY</string>
	<key>GCM_SENDER_ID</key>
	<string>340075955663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rawMaterialsExchange</string>
	<key>PROJECT_ID</key>
	<string>rawmaterial</string>
	<key>STORAGE_BUCKET</key>
	<string>rawmaterial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340075955663:ios:72de07cfafb6127671beba</string>
</dict>
</plist>